
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 id="pageTitle" class="h1">Peripherals</h1>
</div>

<div id="peripherals" class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
    <div class="table-responsive">
        <table class="table">
            <thead>
                    <tr>
                    <th>name</th>
                    <th>type</th>
                    <th>RGB order</th> 
                    <th>ctrlPin #</th>
                    <th>count</th>
                    <th ng-click="new('.modal-parent')" style='cursor:pointer'><span class="create-resource" data-feather="plus-square" ></span></th>
                    </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pif in data" class='clickable-row' style='cursor:pointer'>
                    <td>
                        <span editable-text="pif.name" e-name="name" e-form="rowform">{{ pif.name }}</span>
                    </td>
                    <td>
                        <span editable-select="pif.type" e-name="type" e-form="rowform" e-ng-options="boardType.id as boardType.name for boardType in boardTypes">{{ showBoardType(pif) }}</span>
                    </td>
                    <td>
                        <span editable-select="pif.rgbOrder" e-name="rgbOrder" e-form="rowform" e-ng-options="rgbOrder.id as rgbOrder.name for rgbOrder in rgbOrders">{{ showRgbOrder(pif) }}</span>
                    </td>
                    <td>
                        <span editable-text="pif.ctrlPin" e-name="name" e-form="rowform">{{ pif.ctrlPin }}</span>
                    </td>
                    <td>
                        <span editable-text="pif.count" e-name="name" e-form="rowform">{{ pif.count }}</span>
                    </td>
                    <td style="white-space: nowrap" style="text-align: center;">
                        <form editable-form name="rowform" onbeforesave="save_pif(pif)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == pif">
                            <span class="form-icon" ng-disabled="rowform.$waiting" ng-click="rowform.$submit()" data-feather="save" ></span>
                            <span class="form-icon-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" data-feather="x-circle" ></span>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <span class="form-icon" ng-click="rowform.$show()" data-feather="edit" ></span>
                            <span class="form-icon-warning" ng-click="delete_pif(pif)" data-feather="trash-2" ></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
                feather.replace()
    </script>
</div>
