
<div class="modal-header">
    
            <h3 class="modal-title" id="modal-title"><b>Edit event {{ data.id }} </b></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4"> 
                <label class="control-label"  for="peripheral">Peripheral</label>
                <select class="form-control" name="peripheral" id="peripheral" ng-model="data.peripheral">
                    <option  ng-repeat="pif in peripherals" ng-value="pif.id">{{ pif.name }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label"  for="event">Event</label>
                <select class="form-control" name="event" id="event" ng-model="data.event">
                    <option  ng-repeat="event in events" ng-value="event.id">{{ event.text }}</option>
                </select>
                </select>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label" for="srcId">Source ID</label>
                <input class="form-control" type="text" name="srcId" id="srcId" ng-model="data.srcId">
            </div>
            <div class="col-md-4">
                <label class="control-label" for="colour">Colour</label>
                <input class="form-control" type="text" name="colour" id="colour" ng-model="data.colour">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <label class="control-label"  for="brightness">Brightness {{ data.brightness }}</label>
            <input class="form-control" type="range" id="brightness" min="0" max="100" name="brightness" ng-model="data.brightness">
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>