<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 id="pageTitle" class="h1">Triggers</h1>
</div>

<div id="triggers" class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                    <tr>
                    <th>target</th>
                    <th>event</th>
                    <th>srcId</th>
                    <th>peripherals</th>
                    <th>colour</th>
                    <th>brightness</th>
                    <th ng-click="new()" style='cursor:pointer'><span class="create-resource" data-feather="plus-square" ></span></th>
                    </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trigger in data">
                    <td>
                        <span editable-select="trigger.target" e-name="target" e-form="rowform" e-ng-options="target.id as target.name for target in targets">{{ findTargetById(trigger.target) }}</span>
                    </td>
                    <td>
                        <span editable-select="trigger.event" e-name="event" e-form="rowform" e-ng-options="event.id as event.name for event in events[trigger.target]">{{ getEventList(trigger) }}</span>
                    </td>
                    <td>
                        <span editable-select="trigger.srcId" e-name="srcId" e-form="rowform" e-ng-options="srcId.id as srcId.name for srcId in srcIds">{{ findSrcById(trigger.srcId).name }}</span>
                    </td>
                    <td>
                        <span editable-checklist="trigger.peripherals" e-name="trigger.peripherals" e-form="rowform" e-ng-options="pif.id as pif.name for pif in peripherals" e-checklist-comparator="usedPifsForTrigger">{{ pifIdsToNames(trigger.peripherals) }}</span>
                    </td>
                    <td>
                        <span editable-text="trigger.colour" e-name="colour" e-form="rowform"><div class="circle" ng-style="getColorStyle(trigger)"></div></span>
                    </td>
                    <td>
                        <input type="range" ng-model="trigger.brightness" ng-mouseup="commit()" ng-change="brightnessChange(trigger)" min="0" max="100" name="brightness">
                    </td>
                    <td style="white-space: nowrap" style="text-align: center;">
                        <form editable-form name="rowform" onbeforesave="saveTrigger(trigger)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == trigger">
                            <span class="form-icon" ng-disabled="rowform.$waiting" ng-click="rowform.$submit()" data-feather="save" ></span>
                            <span class="form-icon-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" data-feather="x-circle" ></span>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <span class="form-icon" ng-click="rowform.$show()" data-feather="edit" ></span>
                            <span class="form-icon-warning" ng-click="delete_trigger(trigger)" data-feather="trash-2" ></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
                feather.replace()
    </script>
</div>
