<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 id="pageTitle" class="h1">Triggers</h1>
</div>

<div id="triggers" class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                    <tr>
                    <th>target</th>
                    <th>event</th>
                    <th>srcId</th>
                    <th>peripheral</th>
                    <th>colour</th>
                    <th>brightness</th>
                    <th ng-click="new()" style='cursor:pointer'><span class="create-resource" data-feather="plus-square" ></span></th>
                    </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trigger in data">
                    <td>
                        <span editable-select="trigger.target" e-name="target" e-form="rowform" e-ng-options="target.id as target.name for target in targets">{{ findTargetById(1) }}</span>
                    </td>
                    <td>
                        <span editable-text="trigger.event" e-name="event" e-form="rowform">{{ trigger.event }}</span>
                    </td>
                    <td>
                        <span editable-text="trigger.srcId" e-name="srcId" e-form="rowform">{{ trigger.srcId }}</span>
                    </td>
                    <td>
                        <span editable-select="trigger.peripheral" e-name="peripheral" e-form="rowform" e-ng-options="pif.id as pif.name for pif in peripherals">{{ findPifById(trigger.peripheral[0]) }}</span>
                    </td>
                    <td>
                        <span editable-text="trigger.colour" e-name="colour" e-form="rowform"><div class="circle" style="background-color: #{{ trigger.colour }}"></div></span>
                    </td>
                    <td>
                        <input type="range" ng-model="trigger.brightness" ng-mouseup="commit()" ng-change="brightnessChange(trigger)" min="0" max="100" name="brightness">
                    </td>
                    <td style="white-space: nowrap" style="text-align: center;">
                        <form editable-form name="rowform" onbeforesave="saveEvent(trigger)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == trigger">
                            <span class="form-icon" ng-disabled="rowform.$waiting" ng-click="rowform.$submit()" data-feather="save" ></span>
                            <span class="form-icon-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" data-feather="x-circle" ></span>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <span class="form-icon" ng-click="rowform.$show()" data-feather="edit" ></span>
                            <span class="form-icon-warning" ng-click="delete_trigger(trigger)" data-feather="trash-2" ></span>
                        </div>
                    </td>
                    <!--<td ng-click="open('.modal-parent', trigger.id)">{{ trigger.id }}</td>
                    <td ng-click="open('.modal-parent', trigger.id)">{{ trigger.event }}</td>
                    <td ng-click="open('.modal-parent', trigger.id)">{{ trigger.srcId }}</td>
                    <td ng-click="open('.modal-parent', trigger.id)">{{ findPifById(trigger.peripheral) }}</td>
                    <td ng-click="open('.modal-parent', trigger.id)"><div class="circle" style="background-color: #{{ trigger.colour }}"></div></td>
                    <td><input type="range" ng-model="trigger.brightness" ng-change="brightnessChange(trigger.id)" min="0" max="100" name="brightness"></td>
                    <td ng-click="delete_trigger(trigger.id)"><span class="delete-resource" data-feather="trash-2" ></span></td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <script>
                feather.replace()
    </script>
</div>
